<% if logged_in? == false %>
	<div class="login">
		<a href="/login">Login.</a>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<form action="/session" method="post">
	  		<input type="hidden" name="_method" value="delete">
	  		Currently investigating as <%= current_user.name %>
	  		<button>Logout</button>
	  	</form>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/">Home.</a>
	</nav>	
</section>

<section class="about">
	This website was inspired by Agatha Christie, text adventures, choose your own adventure stories, the brilliant movie Clue, and thunderstorms. Story was written by <a href="https://www.linkedin.com/in/megan-mckeough/">Megan McKeough</a>. Website built with SQL, Ruby, HTML, CSS and love. Visit the <a href="https://github.com/meganmckeough/CYOA-murder">Github</a> for more.
</section>