<% if logged_in? == false %>
	<div class="login">
		<div>
			<button class="storm">pause the storm</button>
			<a href="/login">Login.</a>
		</div>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<form action="/session" method="post">
  		<input type="hidden" name="_method" value="delete">
  			Currently investigating as <%= current_user.name %>
  			<button>Logout</button>
  		</form>
  		<button class="storm">pause the storm</button>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/scores">View the Leaderboard</a>
		<a href="/">Home.</a>
	</nav>	
</section>

<section class="about">
	This website was inspired by Agatha Christie, text adventures, choose your own adventure stories, the brilliant movie Clue, and thunderstorms (provided here by <a href="https://archive.org/details/1HourThunderstorm" target="_blank">Robert Wimer</a>). Story was written by <a href="https://www.linkedin.com/in/megan-mckeough/" target="_blank">Megan McKeough</a>. Website built with SQL, Ruby, HTML5, CSS3, Javascript and love. Story planned using the incredible <a href="http://twinery.org/" target="_blank">Twine</a>.<br>Visit the <a href="https://github.com/meganmckeough/CYOA-murder" target="_blank">Github</a> for more.
</section>
