<% if logged_in? == false %>
	<div class="login">
		<div>
			<button class="storm">pause the storm</button>
			<a href="/login">Login.</a>
		</div>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<form action="/session" method="post">
  		<input type="hidden" name="_method" value="delete">
  			Currently investigating as <%= current_user.name %>
  			<button>Logout</button>
  		</form>
  		<button class="storm">pause the storm</button>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
		<a href="/">Home.</a>
	</nav>	
</section>

<section class="character">

	<form action="/character/new" method="post">
		<div>For this mystery, you are a detective.</div>

		<label for="">What is your name, Detective?</label>
		<input type="name" name="name">

		<button>Create character.</button>
	</form>

</section>

