<section class="mini-header">
	<nav>
		<a href="/about">About</a>
		<a href="/">Home</a>
	</nav>	
</section>

<section class="character">

	<form action="/character/new" method="post">
		<div>For this mystery, you are a detective.</div>

		<label for="">What is your name, Detective?</label>
		<input type="name" name="name">


		<label for="">Which background would you like?</label>
		<input type="background" name="background">

		<button>Create character and begin.</button>
	</form>

</section>