<% if logged_in? == false %>
	<div class="login">
		<button>pause the storm</button>
		<a href="/login">Login.</a>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<button>pause the storm</button>
		<form action="/session" method="post">
	  		<input type="hidden" name="_method" value="delete">
	  		Currently investigating as Detective <%= @character.name %>, <%= @character.background %>
	  		<button>Logout</button>
	  	</form>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
		<a href="/">Home.</a>
	</nav>	
</section>
	
<form class="enter" action="/segments/1">
		<p>You approach the front door...</p>
		<button>Enter the mansion.</button>
</form>
