<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
		<a href="/">Home.</a>
	</nav>	
</section>
	
<form class="enter" action="/segments/1">
		<p>You approach the front door...</p>
		<button>Enter the mansion.</button>
</form>
