<header>
	<h1>Choose Your Own Murder Mystery</h1>
</header>

<main>
	<p class="intro story-text">It is a dark and stormy night. You have come to this huge, forbidding mansion on a night like this to solve a murder, of course.</p>

	<div class="large-button">
		<a href="/character">Create your character to begin.</a>
	</div>

</main>

<footer>
  	Written and built by Megan McKeough 2018
</footer>