<% if logged_in? == false %>
	<div class="login">
		<div>
			<button class="storm">pause the storm</button>
			<a href="/login">Login.</a>
		</div>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<form action="/session" method="post">
  		<input type="hidden" name="_method" value="delete">
  			Currently investigating as <%= current_user.name %>
  			<button>Logout</button>
  		</form>
  		<button class="storm">pause the storm</button>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
	</nav>	
</section>

<header>
	<h1>Choose Your Own Murder Mystery</h1>
</header>

<main>
	<p class="story-text">It is a dark and stormy night. You have come to this huge, forbidding mansion on a night like this to solve a murder, of course.</p>

	<div class="large-button">
		<a href="/character">Create your character to begin.</a>
	</div>

	<p class="disclaimer">~ Try not to use the Back button. Replay the story and discover all <span>9 endings</span>, and be added to the Leaderboard on each completed ending. ~</p>
</main>

<footer>
  	Written and built by <a href="https://www.linkedin.com/in/megan-mckeough/">Megan McKeough</a> 2018
</footer>