<header>
	<h1>Choose Your Own Murder Mystery</h1>
</header>

<p>It is a dark and stormy night. You have come to this huge, forbidding mansion on a night like this to solve a murder, of course. You approach the front door, swing it open and step inside.</p>

<div>
	<a href="/register">Create a new account.</a>
	<a href="">Choose your character to begin.</a>
</div>