<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Your Own Murder Mystery</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Josefin+Slab:100,400" rel="stylesheet">
</head>
<body>
	<audio autoplay>
		<source src="https://ia801409.us.archive.org/12/items/1HourThunderstorm/1HrThunderstorm.mp3" type="audio/mpeg">
	</audio>

  <%= yield %>

	<script src="/javascripts/application.js"></script>
</body>
</html>