<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Your Own Murder Mystery</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Josefin+Slab" rel="stylesheet">
</head>
<body>

	<% if logged_in? == false %>
		<div class="login">
			<a href="/login">Login.</a>
			<a href="/register">Create a new account.</a>
		</div>
	<% end %>

	<% if logged_in? %>
		<div class="logged-in">
			<form action="/session" method="post">
		  		<input type="hidden" name="_method" value="delete">
		  		Currently investigating as <%= current_user.name %>
		  		<button>Logout</button>
		  	</form>
		  </div>
  	<% end %>
  
  <%= yield %>

</body>
</html>