<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose Your Own Murder Mystery</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>

	<% if logged_in? %>
		Currently playing as <%= current_user.name %>
		<form action="/session" method="post">
	  	<input type="hidden" name="_method" value="delete">
	  	<button>Logout</button>
	  	</form>
  	<% end %>

  <%= yield %>

	<footer>
	  	Written and built by Megan McKeough 2018
	</footer>

</body>
</html>