<form action="/session" method="post">
	<label for="">Email</label>
	<input type="email" name="email">
	<label for="">Password</label>
	<input type="password" name="password">
	<button>Login</button>
</form>