<% if logged_in? == false %>
	<div class="login">
		<a href="/login">Login.</a>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<form action="/session" method="post">
	  		<input type="hidden" name="_method" value="delete">
	  		Currently investigating as <%= current_user.name %>
	  		<button>Logout</button>
	  	</form>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
		<a href="/">Home.</a>
	</nav>	
</section>

<form class="register-form" action="/register/new" method="post">
	Please create an account below.
	<label for="">Name</label>
	<input type="name" name="name">
	<label for="">Email</label>
	<input type="email" name="email">
	<label for="">Password</label>
	<input type="password" name="password">
	<button>Create account</button>
</form>

