<form action="/register/new" method="post">
	<label for="">Name</label>
	<input type="name" name="name">
	<label for="">Email</label>
	<input type="email" name="email">
	<label for="">Password</label>
	<input type="password" name="password">
	<button>Create account</button>
</form>

