<% if logged_in? == false %>
	<div class="login">
		<div>
			<button class="storm">pause the storm</button>
			<a href="/login">Login.</a>
		</div>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<form action="/session" method="post">
  		<input type="hidden" name="_method" value="delete">
  			Currently investigating as <%= current_user.name %>
  			<button>Logout</button>
  		</form>
  		<button class="storm">pause the storm</button>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
		<a href="/">Home.</a>
	</nav>	
</section>

<div class="scores">
	<h1>Leaderboard History</h1>
	<h3>Who survived and who perished?</h2>
	<div class="scroll">~ Scroll for more ~</div>
	<div class="score-list">
		<% @scores.each do |score| %>
			<p><%= score.content %></p>	
		<% end %>
	</div>
</div>

<a class="restart" href="/">Try again!</a>


