<% if logged_in? == false %>
	<div class="login">
		<a href="/login">Login.</a>
		<a href="/register">Create a new account.</a>
	</div>
<% end %>

<% if logged_in? %>
	<div class="logged-in">
		<form action="/session" method="post">
	  		<input type="hidden" name="_method" value="delete">
	  		Currently investigating as <%= current_user.name %>
	  		<button>Logout</button>
	  	</form>
	</div>
<% end %>

<section class="mini-header">
	<nav>
		<a href="/about">About.</a>
		<a href="/">Home.</a>
	</nav>	
</section>

<div class="scores">
	<h1>Leaderboard History</h1>
	<h3>Who survived and who perished?</h2>
<% @characters.each do |character| %>
	<p>
		<span><%= current_user.name %></span> finished as Detective <%= character.name %>, who <%= character.ending %>
	</p>	
<% end %>
</div>

<a href="/">Try again!</a>


