<section class="mini-header">
	<nav>
		<a href="/about">About</a>
		<a href="/">Home</a>
	</nav>	
</section>

<main class="story">

	<aside>
		<h2>About you:</h2>
		<p>Detective <%= @character.name %></p>
		<p><%= @character.background %></p>
	</aside>

	<section>
		<p class="story-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto minima quidem, aspernatur cumque quam, voluptatem illum. Reprehenderit blanditiis sit, ipsa, autem amet, inventore atque nostrum dolor id placeat rerum. Dolores?</p>
	</section>

</main>