<section class="mini-header">
	<nav>
		<a href="/about">About</a>
		<a href="/">Home</a>
	</nav>	
</section>

<p class="intro story-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut iusto natus eligendi vitae ducimus, expedita laudantium voluptate ex reprehenderit molestias atque, blanditiis. Eveniet ipsum a minima alias ipsam, ducimus mollitia.</p>