body {
	background-color: #010D18;
	font-family: 'Poiret One', sans-serif;
	font-size: 24px;
	color: white;
}

.story-text {
	font-family: 'Josefin Slab', serif;
	line-height: 1.5em;
	font-size: 1.2em;
}

/*.frame-wrapper {
	background-image: url("/images/frame.png");
	background-size: contain;
	height: 300px;
	width: 450px;
}*/

main {
	height: 65vh;
}

header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
}

nav {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.intro {
	margin: 0 auto;
	width: 50%;
	padding: 20px;
}

.about {
	text-align: center;
	margin: 150px 100px;
}

.about a {
	text-decoration: underline;
}

.about a:hover {
	color: #7a2828;
}

.logged-in {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 0.7em;
}

.login {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.login-form,
.register-form,
.character form,
.enter {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 0 auto;
	padding: 100px;
}

.login-form a {
	text-decoration: underline;
}

.enter {
	text-align: center;
	font-size: 1.6em;
}

.character div,
.background {
	text-align: center;
}

.background p {
	margin-bottom: 0;
	font-family: 'Josefin Slab', serif;
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	width: 50%;
	margin: 0 auto;
}

label {
	margin: 20px;
}

input {
	font-size: 1em;
}

button {
	padding: 0.3em 0.5em;
	font-size: 0.8em;
	background-color: white;
	color:  #010D18;
	border-radius: 3px;
	font-family: 'Poiret One', sans-serif;
	margin-top: 5px;
}

button:hover {
	background-color: #7a2828;
	border-color: #7a2828;
	font-style: bold;
	color: white;
}

.large-button {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	text-decoration: none;
	padding: 30px;
}	

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	background-color: white;
	color:   #010D18;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	font-size: 0.8em;
}

/*.story {
	display: flex;
	flex-direction: row;
}*/
