body {
	background-color: #010D18;
	font-family: 'Poiret One', sans-serif;
	font-size: 24px;
	color: white;
}

.story-text {
	font-family: 'Josefin Slab', serif;
	line-height: 1.2em;
	font-size: 1.2em;
	margin: 2em auto 0;
	width: 70%;
	padding: 1.2em;
	background-color: white;
	color: #010D18;
}

.options {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.options a {
	margin: 0.3em;
}

main {
	height: 58vh;
}

header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
}

nav {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.about {
	text-align: center;
	margin: 4em;
}

.about a,
.login-form a,
footer a {
	text-decoration: underline;
}

footer a {
	color:  #010D18;
}

.about a:hover {
	color: #7a2828;
}

.logged-in {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: 0.7em;
}

.logged-in .storm {
	text-align: right;
}

.login {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.login div {
	display: flex;
	justify-content: space-between;
}

.login-form,
.register-form,
.character form,
.enter,
.end-button {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 0 auto;
	padding: 2.2em;
}

.enter {
	text-align: center;
	font-size: 1.6em;
}

.end {
	text-align: center;
}

.end span,
.scores span {
	font-weight: bold;
	font-size: 1.2em;
}

.end h2 {
	font-family: 'Poiret One', sans-serif;
}

.scores p {
	font-family: 'Josefin Slab', serif;
	margin-left: 2em;
}

.restart {
	display: block;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.scores h1, h3 {
	text-align: center;
}

.scores h1 {
	letter-spacing: 7px;
}

.character div,
.background {
	text-align: center;
}

.background p {
	margin: 1em auto 0 ;
	width: 50%;
	font-family: 'Josefin Slab', serif;
	text-align: left;
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	width: 50%;
	margin: 0 auto;
}

label {
	margin: 20px;
}

input {
	font-size: 1em;
}

button {
	padding: 0.3em 0.5em;
	font-size: 0.8em;
	background-color: white;
	color:  #010D18;
	border-radius: 3px;
	font-family: 'Poiret One', sans-serif;
	margin-top: 5px;
}

button:hover {
	background-color: #7a2828;
	border-color: #7a2828;
	font-style: bold;
	color: white;
}

.large-button {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	text-decoration: none;
	padding: 30px;
}	

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	background-color: white;
	color:   #010D18;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 30px;
	}

	footer {
		display: none;
	}
}